<% title("Editar perfil") %>
<h2>Editar perfil</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div>
  <%= f.label :senha %><br />
  <%= f.password_field :password %><span class="field-note">Deixe em branco se você não quiser alterar</span>
  </div>

  <div><%= f.label "Confirmação" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div>
    <%= f.label :senha_atual %><br />
    <%= f.password_field :current_password %><span class="field-note">Obrigatório</span>
  </div>

  <div><%= f.submit "Atualizar" %></div>
<% end %>
<br />
<%= link_to "Voltar", :back, :style => "font-size:80%" %>