<% title "Documentos" %>

<table>
  <tr>
    <th>Usuário</th>
    <th>Unidade</th>
    <th>Tipo</th>
    <th>Assunto</th>
    <th>Destinatário</th>
    <th>Número</th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%= document.user.name %></td>
      <td><%= document.user.workplace %></td>
      <td><%= document.doctype %></td>
      <td><%= document.subject %></td>
      <td><%= document.recipient %></td>
      <td style="text-align:right"><%= document.dispatch_number %></td>
      <td><%= link_to "Ver", document, :class => "note" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Gerar número", new_document_path %></p>