<% title "Documents" %>

<table>
  <tr>
    <th>User</th>
    <th>Type</th>
    <th>Subject</th>
    <th>Recipient</th>
    <th>Dispatch Number</th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%= document.user_id %></td>
      <td><%= document.type %></td>
      <td><%= document.subject %></td>
      <td><%= document.recipient %></td>
      <td><%= document.dispatch_number %></td>
      <td><%= link_to "Show", document %></td>
      <td><%= link_to "Edit", edit_document_path(document) %></td>
      <td><%= link_to "Destroy", document, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Document", new_document_path %></p>
