<% title("TRE Números") %>
<h2>Bem vindo ao TRE Números</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.label :titulo_eleitor %><br />
  <%= f.text_field :titulo_eleitor %><span class="field-note">T&iacute;tulo de Eleitor</span>
  </div>

  <div>
  <%= f.label :senha %><br />
  <%= f.password_field :password %><span class="field-note">(a mesma do Acesso)</span>
  </div>

  <div><%= f.submit "Entrar" %></div>
<% end %>
<br />
