<% title("TRE Números") %>
<h2>Bem vindo ao TRE Números</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.label :email %><br />
  <%= f.email_field :email %><span class="field-note">Somente são aceitos emails oficiais do TRE-SP</span>
  </div>

  <div>
  <%= f.label :senha %><br />
  <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :lembrar %></div>
  <% end -%>

  <div><%= f.submit "Entrar" %></div>
<% end %>
<br />
<%= render :partial => "devise/shared/links" %>